<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js web app to be handled by the iisnode module -->
      <add name="iisnode" path="dist/main.js" verb="*" modules="iisnode"/>
      <add name="iisnode-socketio" path="dist/main.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- All other URLs are mapped to the node.js web app entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="dist/main.js"/>
        </rule>
      </rules>
    </rewrite>
    <applicationInitialization >
      <add initializationPage="/" />
    </applicationInitialization>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="dist"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>